<%= link_to  notifications_path do %>
  <span class="fa-stack">通知
      <%if unchecked_notifications.any?%>
          <i class="fas fa-circle n-circle fa-stack-1x"></i>
      <% end %>
  </span>
<% end %>

