<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>
<% unless user_signed_in? %>
  <%= link_to "新規登録", new_user_registration_path %> |
  <%= link_to "ログイン", new_user_session_path %>
<% end %>

<%= link_to 'ゲストログイン', guest_sign_in_path, method: :post %>
