/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/v4-shims";

/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}


.a-black a{
  color: black;
  text-decoration: none;
}
.a-black a:hover{
  color: black;
  text-decoration: none;
  opacity: 0.7;
}

#a-write a{
  color: white;
  text-decoration: none;
}

#a-write a:hover{
color: white;
  text-decoration: none;
  opacity: 0.7;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn,
a.btn,
button.btn {
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}


//header----------------------

header{
  background-color: rgb(191, 191, 191);
  padding: 0 20px;
  margin-bottom: 30px;
}
header nav.navbar{
  color: #212529;
}
.user-name-header{
  color: white;
}

.nav-link a{
  color: white;
  text-decoration: none;
}


//いいね----------------------
.like-link {
  text-decoration: none;
}

.like-btn {
  font-size: 15px;
  color: #808080;
}

.unlike-btn {
  font-size: 15px;
  color: #e54747;
}

//アラート----------------------
.alert {
  text-align: center;
}
.alert-info {
  background-color: #bde9ff;
  border-color: #bde9ff;
  color: #4c6977;
}

.alert-warning {
  background-color: #f3c0c0;
  border-color: #f3c0c0;
  color: #3e3a3a;
}

//ページネーション----------------------
.pagination {
  justify-content: center;
}
.pagination > li > a {
  border: none;
  color: #696969;
}

.pagination > .active > a {
  background: #93c9ff;
}
.post_image_index {
  width: 100%;
  height: 250px;
}
.nav-link.dropdown-toggle {
  margin-right: 30px;
}

//タグ----------------------
.all-posts {
  margin-bottom: 10px;
}
.posts-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  li {
    display: inline-block;
  }
}
a.btn-gradient {
  margin: 0 10px 10px 0;
  color: rgb(150, 139, 139);
  background-image: -webkit-linear-gradient(110deg, #e9defa 0%, #fbfcdb 100%);
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 10px;
}

a.btn-gradient:hover {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

// 検索フォーム-----------------
.search-form{
  margin: 30px 0;

}

//カード----------------------

.card-content.comment{
  margin:0;
}

.card-box-overlapping .card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
}

.card-box-overlapping .card p.image {
  margin: -10px -10px 0;
}

.card-box-overlapping .card p.image .post_image_index {
  vertical-align: top;
}

.card-box-overlapping .card p.text {
  margin: 10px 0 0;
}
.card-box-overlapping .card {
  box-shadow: 10px 10px 0 #ccc;
  transform: translate(-4.5px, -4.5px);
  transition: box-shadow 0.3s, transform 0.3s;
}

.card-box-overlapping .card:hover {
  box-shadow: 1px 1px 0 #ccc;
  transform: initial;
}

.content-muted {
  color: #b3afaf;
  margin: 0;
}
.card-body{
  color: #212529;
  .heart{
    margin: 10px 0 0 0;
  }
}

#heading-title {
  margin: 10px 0 0 0 ;
  padding-left: 0.5em;
  font-size: 1.5em;
  color: #333;
  border-left: 4px solid #eebbf0;
}


// 通知
.notification{
  .title{
  text-align: center
  }
  .trash a{
  color: #808385!important;
  }

  .card-body{
    padding: 20px 40px 20px 20px;
  }
  .card-text{
    display: flex;
    justify-content: space-between;
  }
}
img.icon_mini {
  margin-bottom: 5px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

/* Font Awesomeを使用しています。*/
.form2 {
  position: relative;
}

.form2-input {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 0 10px 0 34px;
  margin: 5px 0;
  font-size: 1em;
  color: #333;
  border: solid 1px #ccc;
  border-radius: 5px;
  outline: 0;
  transition: 0.3s;
  -webkit-appearance: none;
}

.form2-input:focus {
  border: 1px solid #00b5ad;
}

.form2-button {
  position: absolute;
  top: 0;
  left: 2px;
  box-sizing: content-box;
  width: 30px;
  height: 40px;
  padding: 0;
  vertical-align: vertical-align;
  pointer-events: none;
  background: inherit;
  border: 0;
  opacity: 0.54;
}

// フォロー一覧----------------------

img{
  display:block;
}



// いいね一覧----------------------
.follow.title{
  text-align: center
  }
.container.follow{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px auto;
  padding: 0 50px;
  max-width: 1100px;
  transition: all 0.3s ease 0s;
  a:hover {
  box-shadow: 0 8px 12px 0 rgba(60, 14, 14, 0.25);
  transform: translateY(-0.1875em);
  opacity: 0.8;
}
  a ,.card-follow-wrapper{
    position:relative;
    height:220px;
    width: 240px;
    margin: 0 auto;
    margin-bottom: 30px;
}

}


.card-follow-front{
  position:absolute;
  width:100%;
  border-radius:0.55em;
  background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 50%, #fbf2f2 100%);
}

.card-follow-user{
    padding-top: 15px;
  img{
    width:75px;
    height:75px;
    border-radius:50%;
    margin: 0 auto;
    border:2px solid #fff;
  }
}

.card-follow-user span{
  font-size:22px;
  text-align:center;
  display:block;
  margin-top:10px;
  color:#fff;
}

.card-follow-user span>i{
  display:block;
  font-size:16px;
}

.user-info{
  display:flex;
  flex-wrap:nowrap;
  padding:10px 5px;
}

.user-info span{
  flex:1;
  font-size:14px;
}

.user-info span>b{
  display:block;
}

// プロフィール一覧----------------------
.icon-big{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  text-align: center;
  margin: 0 auto;
}

.card-icon{
  text-align: center;
  p{
    font-size: 20px;
    margin: 20px auto;
  }
}

.profile  h4.title{
  text-align: center
  }

.card.profile{
  border-radius:0.7em;
  background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 50%, #fbf2f2 100%);
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
}


#button-fill {
  position: relative;
  display: inline-block;
  padding:5px 10px;
  font-size: 0.8em;
  color: rgb(0, 0, 0);
  text-decoration: none;
  user-select: none;
  border: 1px #f3e5476d solid;
  box-shadow: inset #f3e5476d 0 0 0 0;
  transition: 0.3s;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-bottom: 0;
}
#button-fill p{
  margin-bottom: 0;
}


#button-fill:hover{
  color: black;
  box-shadow: inset #f3e5476d 0 0 0 2em;
  opacity: 1;
}

.follow_flex,#follow_form{
display: flex;
justify-content: space-between;
}
