
body,html{
  margin: 0;
  padding: 0;
}
.top-page-img{
  position: relative;
  background-image: url('top.jpg');
  // background-position: bottom;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 91.65vh;
  // height: 100vh;
  margin-top: -30px;
  z-index: 10;
}
.top-page-img::before{
  content: '';
  display: block;
  padding-top: 50%;
}

.title-messages{
  min-width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-180%);
  margin:0;
  padding:0;
  text-align:end;
  font-size: 18px;
  color:black;
}
